@import 'assets/css/common.scss';

.datacontainer {
  width: 347*2rpx;
  line-height: 60rpx;
  opacity: 0.85;
  background-color: rgba(255, 255, 255, 79);
  color: rgba(16, 16, 16, 100);
  font-size: 28rpx;
  box-shadow: 0px 4rpx 20rpx 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 100);
  margin-top: 30rpx;
  padding: 15rpx;
  box-sizing: border-box;
}

.text1 {
  color: #ff822f;
}

.img {
  width: 93px;
  height: 82px;
}

.bill {
  width: 319*2rpx;
  height: 240rpx;
  line-height: 40rpx;
  opacity: 0.85;
  border-radius: 6rpx;
  background-color: rgba(255, 255, 255, 79);
  color: rgba(16, 16, 16, 100);
  font-size: 28rpx;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 15rpx;
  margin-bottom: 30rpx;
}

.billtext {
  width: 168px;
  height: 120px;
  line-height: 17px;
  color: #101010;
  font-size: 12px;
  text-align: left;
  padding: 15rpx;
  box-sizing: border-box;
}

.billtext1 {
  color: #000;
  font-weight: 700;
  font-size: 30rpx;
  margin-bottom:10rpx;
}