@import 'assets/css/common.scss';

.address {
  width: 347*2rpx;
  height: 200rpx;
  line-height: 40rpx;
  opacity: 0.85;
  background-color: rgba(255, 255, 255, 79);
  color: rgba(16, 16, 16, 100);
  font-size: 28rpx;
  text-align: center;
  box-shadow: 0px 4rpx 20rpx 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 100);
  margin-bottom: 30rpx;
}

.img {
  width: 26*2rpx;
  height: 26*2rpx;
  line-height: 40rpx;
  background-color: rgba(255, 167, 38, 100);
  color: rgba(255, 255, 255, 100);
  font-size: 28rpx;
  border-radius: 50px;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 167, 38, 100);
}

.text {
  width: 283*2rpx;
  line-height: 50rpx;
}

.number {
  margin-left: 40rpx;
}

.addresstext {
  text-align: left;
  color: #999999;
  font-size: 12px;
}

.pay {
  width: 347*2rpx;
  // height: 358*2rpx;
  line-height: 65rpx;
  opacity: 0.85;
  border-radius: 6rpx;
  background-color: rgba(255, 255, 255, 79);
  color: rgba(16, 16, 16, 100);
  font-size: 30rpx;
  box-shadow: 0px 4rpx 20rpx 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 100);
  box-sizing: border-box;
  padding: 20rpx;
}

.img2 {
  width: 19*2rpx;
  height: 19*2rpx;
}

.coupon {
  margin-top: 5rpx;
  margin-left: 10rpx;
}

.van-notice-bar__content {
  font-size: 20rpx;
}

.buttomtext {
  float: right;
}

.couponprice {
  color: rgb(204, 0, 0);
}

.price {
  font-weight: 700;
  font-size: 16px;
}

.text1 {
  color: #a7a7a7;
  font-size: 14px;
  margin: 0 10rpx 0 5rpx;
}

.buttom {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 248*2rpx;
  height: 66*2rpx;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 79);
  color: rgba(16, 16, 16, 100);
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(226, 226, 226, 100);
  box-sizing: border-box;
}

.paybtn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 127*2rpx;
  height: 66*2rpx;
  line-height: 40rpx;
  background-color: rgba(39, 79, 5, 100);
  color: rgba(16, 16, 16, 100);
  font-size: 32rpx;
  text-align: center;
  color: #F5E4AD;
  border-radius: 0;
}

.agreement {
  color: #888888;
  box-sizing: border-box;
  padding: 15rpx;
  line-height: 50rpx;
  color: 24rpx;
  width: 750rpx;
}

.agreementtext1 {
  color: #000000;
  font-size: 30rpx;
  font-weight: 700;
}

.btn {
  width: 223*2rpx;
  height: 45*2rpx;
  line-height: 45*2rpx;
  border-radius: 47px;
  background-color: rgba(231, 105, 29, 100);
  color: rgba(255, 255, 255, 100);
  font-size: 20px;
  text-align: center;
  margin: 45rpx 0 45rpx 160rpx;
}

.position {
  position: relative;
}

.item {
  position: absolute;
  right: 102*2rpx;
  top: 26rpx;
  display: flex;
  font-size: 40rpx;
  color: #838383;
}